{
  NSExecutable = "Thunderbird";
  NSRole = "Viewer";
  NSIcon = "Internet-Mail.tiff";
	XAppWrapper = YES;
  NSTypes = (
    {
      NSUnixExtensions = ( "html" );
      NSIcon = "FileIcon_.html.tiff";
    },
    {
      NSUnixExtensions = ( "htm" );
      NSIcon = "FileIcon_.html.tiff";
    }
  );
}
