{
    ApplicationDescription = "Document viewer";
    ApplicationIcon = "atril.tiff";
    ApplicationName = Atril;
    NSExecutable = Atril;
    NSIcon = "atril.tiff";
    NSRole = Viewer;
    NSTypes = (
	{
	    NSDocumentClass = GSPdfDocument;
	    NSHumanReadableName = NSPostScriptPboardType;
	    NSIcon = "FileIcon_ps.tiff";
	    NSName = PS;
	    NSRole = Viewer;
	    NSUnixExtensions = (
		ps,
		PS
	    );
	},
	{
	    NSDocumentClass = GSPdfDocument;
	    NSHumanReadableName = NSPostScriptPboardType;
	    NSIcon = "image-x-eps.tiff";
	    NSName = EPS;
	    NSRole = Viewer;
	    NSUnixExtensions = (
		eps,
		EPS
	    );
	},
	{
	    NSDocumentClass = GSPdfDocument;
	    NSHumanReadableName = NSPDFPboardType;
	    NSIcon = "FileIcon_ai.tiff";
	    NSName = PDF;
	    NSRole = Viewer;
	    NSUnixExtensions = (
		ai,
		AI
	    );
	},
	{
	    NSDocumentClass = GSPdfDocument;
	    NSHumanReadableName = NSPDFPboardType;
	    NSIcon = "FileIcon_pdf.tiff";
	    NSName = PDF;
	    NSRole = Viewer;
	    NSUnixExtensions = (
		pdf,
		PDF
	    );
	}
    );
}