{
  NSExecutable = "libreoffice";
  NSRole = "Editor";
  NSIcon = "LibreOffice.tiff";
	XAppWrapper = YES;
  NSTypes = (
    {
      NSUnixExtensions = ( odt );
      NSIcon = "FileIcon_odt.tiff";
    },
    {
      NSUnixExtensions = ( sxw );
      NSIcon = "FileIcon_odt.tiff";
    },
    {
      NSUnixExtensions = ( ods );
      NSIcon = "FileIcon_ods.tiff";
    },
    {
      NSUnixExtensions = ( odg );
      NSIcon = "FileIcon_odg.tiff";
    },
   {
      NSUnixExtensions = ( odp );
      NSIcon = "FileIcon_odp.tiff";
    },
    {
      NSUnixExtensions = ( html, htm, xhtml );
      NSIcon = "FileIcon_html.tiff";
    },
    {
      NSUnixExtensions = ( odf );
      NSIcon = "FileIcon_odf.tiff";
    },
    {
      NSUnixExtensions = ( doc);
      NSIcon = "FileIcon_doc.tiff";
    }
  );
}
