{
  NSExecutable = "Emacs";
  NSRole = "Editor";
  NSIcon = "Emacs.tiff";
	XAppWrapper = YES;
  NSTypes = (
    {
      NSUnixExtensions = ( "txt","txt~" );
      NSIcon = "FileIcon_genericText.tiff";
    },
    {
      NSUnixExtensions = ( "plist", "plist~" );
      NSIcon = "FileIcon_plist.tiff";
    },
    {
      NSUnixExtensions = ( "sh", "csh", "bash", "sh~", "csh~" ,"bash~" );
      NSIcon = "FileIcon_sh.tiff";
    },

    {
      NSUnixExtensions = ( "html", "htm", "xhtml", "html~" ,"htm~" ,"xhtml~" );
      NSIcon = "FileIcon_html.tiff";
    },
    {
      NSUnixExtensions = ( "c", "c~" );
      NSIcon = "FileIcon_c.tiff";
    },
    {
      NSUnixExtensions = ( "h", "h~" );
      NSIcon = "FileIcon_h.tiff";
    },
    {
      NSUnixExtensions = ( cc, cpp, c++ , cxx, cc~, cpp~ ,cxx~ );
      NSIcon = "FileIcon_c++.tiff";
    },
    {
      NSUnixExtensions = ( strings, strings~ );
      NSIcon = "FileIcon_strings.tiff";
    },
    {
      NSUnixExtensions = ( m, mm, m~ ,mm~ );
      NSIcon = "FileIcon_objc.tiff";
    }
  );
}
